	@charset "utf-8";
	
	html {
	margin-left: 75px;
	margin-right: 75px;
	background-color: #08224D;
	font-family: 'Namun Gothic', sans-serif;
	}
	main:not(p) {
	background-color: white;
	}
	a.l:link, header.a:visited {
	background-color: #08224D;
	color: #FEDE5A;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	}
	a.l:hover, header.a:active {
	background-color: green;
	}
	a.l:visited {
	color: #FEDE5A;	
	}
	a.l {
	margin-left: 150px;
	}
	h1 {
	font-size: 50px;
	color: #FEDE5A;
	}
	h2 {
	font-size: 30px;
	color: #FEDE5A;
	}
	main {
	border: 50px solid white;
	}
	p:not(.foo) {
	display: flex;
	align-items: center; 
	justify-content: center;
	font-size:30px;
	}
	div { 
	max-width: 650px; 
	margin: 0 auto !important; 
	float: none !important;
	font-size: 20px;
	}
	img {
	width: 150px;
	}
	footer {
	display: flex;
	align-items: center; 
	justify-content: center;
	column-gap: 50px;
	position: relative;
	background-color: rgb(233,227,227);
	font-size: 17px;
	}
