@charset "utf-8";


body{
	font-family: 'Nanum Gothic', sans-serif;
    background-color: #08224D;
    color: #FEDE5A;  

    padding: 0;
    margin: 0;
}

header{
    display: flex;    
    background-color: #08224D;
 }

 .logo{    
    margin: 10px;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 40px;
  overflow: hidden;
  
  }

  li {
     float: left;     
    
  }
  
  li a {
    padding: 15px;
    font-size: 30px;
    background-color: #08224D;
    color: #FEDE5A;
    text-decoration:none; 
  }

  h2 {
    text-align: center;
    font-weight: bold;
    color: white;    
    font-size: 40px;
    text-decoration: none;
  }

  h3 {
    text-align: center;        
    color: white;    
    text-decoration: none;
    font-size: 30px;
  }

  .bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
  }
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;    
  }

  .mainlogos {    
    border-radius: 50%;
    display: left;    
      float: center;    
      width: 15%;
      height: 15%;     
    padding: 70px;
    margin: 50px;
    float: center;
    justify-content: space-between;
  }

      
  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
     font-size: 30px;
   }

 
  .upper-content > a {    
    float: center;    
    color: white;
    top: 0;
    font-size: 20px;
    padding: 150px;    
    margin: 50px;
    text-decoration: none;
    
  }

  .upper-content > p{
    display: inline-block;    
    justify-content: space-between;
    color: #f1f1f1;
    font-weight: bold;

  } 

  figcaption {

    color: #f1f1f1;
  }

  .lower-content {    
    float: center;    
    color: white;
    display: flex;
    padding: 70px;
    margin: 50px;
    float: center;
    justify-content: space-between;
  }
  

  .but1, .but2{    
    background-color: #727472;         
    color:white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    font-size: 30px;   
    position: relative;
    left: 500px; 

  }

.but1 {
    margin-right: 300px; 
  }
        
.but2 {
    margin-right: 300px; 
  }

  .footer{
    background-color: rgb(233, 227, 227);
    color:black;
    display: flex;
    padding: 30px 50px;
    text-align: center;        
    
}      
       
.footer > p{
  margin-left: 300px;  
}