main {
  padding: 10px;
}

h1 {
  font-size: 300%;
  text-align: center;
}

h2 {
  text-align: left;
}


div.scroll-container {
  background-color: #333;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  position: relative;
}

div.scroll-container img {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: #08224D;
  padding: 10px;
  border: none;
}

.arrow:hover {
  color: #FEDE5A
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.main-container {
  display: flex;
}