.outercontainer {
	width: 980px;
	height: 300px;
	border: 2px solid blue;
	padding: 5px;
	background-color: #08224D;
}
h2 {
	font-size: 25pt;
	font-family: 'Times New Roman';
	position: relative;
	color: #FEDE5A;
	font-style: italic;
}
.yellow {
	background-color: yellow;
	float: left;
	width: 200px;
	padding: 10px;
	margin-right: 10px;
		}
.lightgreen {
	background-color: lightgreen;
	position: absolute;
	top: 350px;
	left: 530px;
	width: 200px;
	padding: 10px;
}
.pink {
	background-color: pink;
	color: black;
	float: right;
	width: 180px;
	padding: 10px;
	margin-right: 40px;
	margin-top: 20px;
}
.lightblue {
	background-color: lightblue;
	float: left;
	width: 250px;
	padding: 10px;
	margin-right: 10px;
}
h3 {
	font-size: 18pt;
	font-family: 'Times New Roman';
	position: relative;
	color: #08224D;
	font-style: italic;
}

footer {
	display: flex;
	position: fixed;
	bottom: 0;
}
